/**
 * CONTENTS
 *
 * SETTINGS
 * Global..............Globally available variable and config
 *
 * COMPONENTS
 * Banner..............The styling for page banner
 * Content.............Styling for page content
 * Journal.............Specific Styling for Journal Page
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/* Global Settings */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/**
 * Colour Palette
 * Background: #D4DAD4 (light gray)
 * Titles: #7BD0A9 (Lime Green)
 */

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto Slab', sans-serif;
}

body {
    color: gray;
    background-color: #D4DAD4;
}

h1 {
    color: #7BD0A9;
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

p {
    font-size: 0.8em;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* Banner Styling */
#banner {
    
    padding: 0 3vw;

    font-size: 1.2em;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links {
    display: flex;
    justify-content: space-between;
}

#home, #links a {
    color: #7BD0A9;
    text-decoration: none;
    text-align: center;
}

#links a {
    padding: 4vh 1em;
}

#links a:hover {
    color: white;
    background-color: #7BD0A9;
}


/* Content Styling */
article, hr{
    margin: 1em 5%;   
}

#breadcrumb {
    width: 60vw;
    margin: 0.5em 20vw;

    color: grey;
    font-size: 1em;
}

#breadcrumb a {
    color: #7BD0A9;
    text-decoration: none;
}

.content {
    width: 60vw;
    min-height: 2em;
    padding: 1em 0;
    margin: 0 20vw;
    margin-bottom: 1.2em;

    background-color: whitesmoke;
}

.journal{
    width: 96%;
    max-height: 20vh;
    padding: 1em 2%;
    margin: 0 0;
    margin-bottom: 2em;

    background-color: lightgray;

    display: flex;
    justify-content: space-evenly;
}

#map{
    text-align: center;
}
#map img{
    width: 60%;
}

.journal-preview a{
    color: gray;
    text-decoration: none;
}

/* Journal Page Styling */
#feedback-textbox {
    min-height: 10vh;
    padding: 0.4em;
    margin: 1.2em 0;

    border: 2px solid gray;
    border-radius: 5px;
}

#feedback-entry div {
    text-align: right;
} 

#feedback-entry div a {
    padding: 0 1em;
    text-decoration: none;
}

#submit-feedback {
    color: #7BD0A9;
}

#cancel-feedback {
    color: gray;
}

.feedback-footer {
    margin-top: 1em;
    display: flex;
    flex-flow: row;
}

.feedback-footer *{
    font-size: 0.8em;
    margin-right: 1em;
}

#user-feedback{
    display: none;
}

#user-feedback.show {
    display: block;
}

#user-feedback b {
    visibility: hidden;
}

#user-feedback b.show {
    visibility: visible;
}

#user-feedback hr {
    width: 100%;
    margin: 1em 0;
}

li {
    list-style-type: none;
    background: #c3c3c3;
    text-align: left;
}

#new-journal {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}