/**
 * CONTENTS
 *
 * SETTINGS
 * Global..............Globally available variable and config
 *
 * COMPONENTS
 * Banner..............The styling for page banner
 * Content.............Styling for page content
 * Login...............Specific Styling for Login Page
 * Journal.............Specific Styling for Journal Page
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/* Global Settings */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/**
 * Colour Palette
 * Background: #D4DAD4 (light gray)
 * Titles: #7BD0A9 (Lime Green)
 */

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto Slab', sans-serif;
}

body {
    color: gray;
    background-color: #D4DAD4;
}

h1 {
    color: #7BD0A9;
    font-size: 1.6em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.85em;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* Banner Styling */
#banner {
    width: 94vw;
    padding: 0 3vw;

    font-size: 1.2em;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links {
    display: flex;
    justify-content: space-between;
}

#home, #links a {
    color: #7BD0A9;
    text-decoration: none;
    text-align: center;
}

#links a {
    padding: 0.6em 1em;
}

#links a:hover {
    color: white;
    background-color: #7BD0A9;
}


/* Content Styling */
article, hr{
    margin: 1em 5%;   
}

#breadcrumb {
    width: 60vw;
    margin: 0.5em 20vw;

    color: grey;
    font-size: 1em;
}

#breadcrumb a {
    color: #7BD0A9;
    text-decoration: none;
}

.content {
    width: 60vw;
    min-height: 2em;
    padding: 1em 0;
    margin: 0 20vw;
    margin-bottom: 1.2em;

    background-color: whitesmoke;
}

.journal{
    width: 96%;
    max-height: 20vh;
    padding: 1em 2%;
    margin: 0 0;
    margin-bottom: 2em;

    background-color: lightgray;

    display: flex;
    justify-content: space-evenly;
}

#map{
    text-align: center;
}

#map img{
    width: 60%;
}

.journal-preview p{
    margin-top: 1.2em;
}

.journal-preview{
    text-decoration: none;
}

.journal-preview *{
    color: gray;
    text-decoration: none;
}

/* Login Page Styling */
#login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-window {
    width: 30vw;
    height: 50vh;
    padding: 8vh 0;
}

#login-window >* {
    margin: 0 15%;
}

#login-window h1 {
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

#login-window div {
    margin: 1em 15%;
}

#login-window a {
    width: 70%;
    padding: 0.25em 0;
    margin-top: 3em;
    display: block;

    color: white;
    background-color: #7BD0A9;
    text-decoration: none;
    text-align: center;
}

#login-window a:hover {
    color: #7BD0A9;
    background-color: white;
}

.login-textbox {
    padding: 0.4em 0.2em;
    border: 2px solid gray;
    border-radius: 5px;
}

/* Journal Page Styling */
#user-journal *{
    margin: 0.8em 0;
}

#user-journal h1 {
    margin: 0;
}

#user-journal h3 {
    margin-top: 0.2em;
}

#user-journal img {
    max-width: 50%;
    text-align: center;
}

#feedback-textbox {
    min-height: 10vh;
    padding: 0.4em;
    margin: 1.2em 0;

    border: 2px solid gray;
    border-radius: 5px;
}

#feedback-entry div {
    text-align: right;
} 

#feedback-entry div a {
    padding: 0 1em;
    text-decoration: none;
}

#submit-feedback {
    color: #7BD0A9;
}

#cancel-feedback {
    color: gray;
}

.feedback-footer {
    margin-top: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.feedback-footer *{
    font-size: 0.8em;
    margin-right: 1em;
}

.upvote-button {
    padding: 0.2em;
    border-radius: 5px;
    color: white;
    background-color: #7BD0A9;
}

#user-feedback{
    display: none;
}

#user-feedback.show {
    display: block;
}

#user-feedback b {
    visibility: hidden;
}

#user-feedback b.show {
    visibility: visible;
}

#user-feedback hr {
    width: 100%;
    margin: 1em 0;
}

#user-feedback .upvote-button {
    color: grey;
    background-color: transparent;
}